{% extends 'base.html' %}{% load static %}{% block pageContent %}
<style>
    .errorlist {
        color: var(--bs-danger)
    }
</style>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
            <div class="card card-default rounded-0 shadow">
                <div class="card-header">
                    <h4 class="card-title"><b>Update Password</b></h4>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <form method="POST" novalidate>
                            {% csrf_token %}
                            {% if fm.non_field_errors %}
                            {% for error in fm.non_field_errors %}
                            <p>{{error}}</p>
                            {% endfor %}
                            {% endif %}
                            {% for Fm in form %}
                            {{Fm.label_tag}}{{Fm}} {{Fm.errors|striptags}} <br><br>
                            {% endfor %}

                            <div class="form-group mb-3">
                                <div class="d-flex w-100 justify-content-end">
                                    <button class="btn btn-sm rounded-0 btn-primary col-4 reset_btn" type="submit">
                                        Reset Your Password
                                    </button>

                                </div>
                            </div>

                            <!-- <input type="submit" class="reset_btn" value="Reset Your Password"> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock pageContent %}