{% extends 'base.html' %}{% load static %}{% block pageContent %}



<div class="passwordresetchaged_container text-center">
    <h1 class="text-center " style="color: green;">Your Password has been Changed</h1>
    <center><img src="{% static 'assets/default/img/success.gif' %}" alt="mintu" width="500px" height="450px"></center>

    <a href="{% url 'home-page' %}" class="btn btn btn-primary btn-sm bg-gradient rounded-0">Go To Home Page</a>
    <!-- <div class="img-container" style="width: 200px; height: 200px;">
    <img src="{% static 'assets/default/img/homebtn.png' %}" alt="" >

    </div> -->
</div>


{% endblock pageContent %}