{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% if page_title %}
    <title>{{ page_title }} | {{system_name}} </title>
    {% else %}
    <title>{{system_name}}</title>
    {% endif %}
    <!--font awsome cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!--css link-->
    <link rel="stylesheet" href="{% static 'assets/default/css/navbar.css' %}">
    <style>
      
    </style>
</head>
<body>

    <nav class="sidebar">
        {% if request.user.is_authenticated %}
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <div class="sideBar-title">
            <div class="sidebar-image">
                <img src="{% static 'assets/default/img/manuu_logo1.png' %}" alt="">
            </div>
            <div class="sidebar-content">
                <h3>Manuu library</h3>
            </div>
        </div>
        <ul class="sidebar-List">
            <li class="list-item"><a  href="{% url 'home-page' %}" ><i class="fas fa-home"></i> &nbsp;<span>home</span></a> </li>
            <li class="list-item"> <a href="{% url 'category-page' %}"><i class="fa-solid fa-rectangle-list"></i></i>&nbsp;<span>Categories</span></a></li>
            <li class="list-item"><a href="{% url 'sub_category-page' %}"><i class="fas fa-chalkboard-user"></i>&nbsp;<span>Sub Categories</span></a></li>
           
            <li class="list-item"><a  href="{% url 'book-page' %}"><i class="fa-solid fa-book"></i>&nbsp;<span>Books</span></a></li>
            <li class="list-item"><a href="{% url 'borrow-page' %}"><i class="fa-solid fa-book"></i>&nbsp;<span>Borrow</span></a> </li>
            <li class="list-item"><a  href="{% url 'student-page' %}"><i class="fa-solid fa-users"></i>&nbsp;<span>Students</span></a></li>
            {% if request.user.is_superuser %}
            <li class="list-item"><a  href="{% url 'user-page' %}"><i class="fa-solid fa-user"></i>&nbsp;<span>Users</span></a></li>
            {% endif %}
            {% endif %}
        </ul>
    </nav>
    <div class="topbar">
        <div class="topbar-title">
            <i class="fa-solid fa-bars toggle" onclick="openside()"></i>
        </div>
        <h3 style="color: #221c8d; width: 500px; font-weight: bold;"><marquee direction="right" >Welcome To Manuu Library</marquee>
        </h3>
        <div class="topbar-setting">
           <a href="{% url 'profile-page' %}"> <i class="fa-solid fa-user admin"></i>{{request.user.first_name}}&nbsp;{{request.user.last_name}}</a>
            <a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket logout"></i></a>
        </div>
    </div>
    

    <script>
        function openside(){
            document.querySelector('.sidebar').style.left="0px";
            //document.querySelector('.sidebar').style.height="100vh";
            document.querySelector('.topbar').style.marginLeft="260px";
            document.getElementsByTagName('section').style.marginLeft="260px";
        }
        function closeNav(){
            document.querySelector('.sidebar').style.left="-260px";
            //document.querySelector('.sidebar').style.height="0px";
            document.querySelector('.topbar').style.marginLeft="0px";
            document.getElementsByTagName('section').style.marginLeft="260px";
        }
    </script>
</body>
</html>